* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__block {
    margin-top: 15px;
}

#picSelect {
    background-color: white;
    width: 200px;
    height: 50px;
    text-align: center;
    color: black;
    border: none;
    border-radius: 0px;
    border: solid black 1px;
}

#picSelect:focus {
    border: solid black 1px;

}

#searchPic {
    background-color: black;
    color: white;
    height: 52px;
    width: 100px;
}

.photos {
    width: 100%;
}

.photos__title {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items:center;
}


.photo__img {
    height: 400px;
    width: 400px;
}

.photos__blocks {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px 0px; 
}

.photo__block {
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.photo__block h3 {
    width: 400px;
    text-align: center;
}